*{

margin: 0;
padding: 0;
box-sizing: border-box;
-webkit-font-smoothing:antialiased;
-moz-osx-font-smoothing:grayscale;

}







.body > *{
    
    border: 1px solid red;
    
    }

:root{
font-size: 62.5%;
--color-base-explorer: #065E7C;
 font-family: 'Mulish', sans-serif; 
}



header{

background-color: var(--color-base-explorer);
display: flex;
align-items: center;
justify-content: space-between;
padding: 2.8rem 1.2rem;
min-width: 7.2rem;
}


header .headerImg{

width: 4.0rem;
height: 4.0rem;
border-radius: 50%;


}




.input-wrapper label{

width: 1px;
height: 1px;
overflow: hidden;
position: absolute;


}


.input-wrapper input, input::placeholder{
    width: 24rem ;
    height:4.0rem;
    padding: 1.2rem 1.4rem;
    font-family: Mulish;
    font-size: 16px;
    font-style: normal;
    font-weight: 600;
    line-height: 100%;
    background-color:#387E96 ;
    color: #FFFFFF;
    border: none;


}


.title{

margin:3.0rem  2.2rem;

}


.title h1, .sidebar h2{
color: 202024;
    font-family: Mulish;
    font-size: 24px;
    font-style: normal;
    font-weight: 700;
    line-height: 160%;
}

.likes{

margin-top: .8rem;

}

.likes img{

width: 4rem;
height: 4rem;

}

.likes img:nth-child(2) {
    margin-left: 1rem; /* Puedes ajustar el valor del margen según tus preferencias */
  }


  main .text-main{
display: none;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 160%;
    padding: 0 2.2rem;
  }

  



.sidebar{
padding: 0 2.2rem;
}


.sidebar .card{


    display: flex;
}



footer{

grid-area: d;


}