body{

background-color: #2C2B3D;
margin: 0;
padding: 0;
min-height: 100vh;
}


.page{

width: 1092px;
margin: 71px auto ;




}


/* 

font-family: 'JetBrains Mono', monospace;
font-family: 'Open Sans', sans-serif;

*/
nav{
display: flex;
align-items: center;
justify-content: space-between;
margin-bottom: 106px;
}

nav ul{

display: flex;
justify-content: space-between;
gap: 64px;
list-style: none;
font-family: 'JetBrains Mono';

}

nav ul a{
    font-weight: 500;
    text-decoration: none;
   color: #FFF;
   font-size: 14px;
   line-height: 28px;

}




main{

display: flex;
justify-content: space-between;
gap: 77px;

}




h1{
    color: #FFF;

}
h1, h1 span{
    font-family: 'JetBrains Mono', monospace;
    font-size: 36px;
    font-style: normal;
    font-weight: 700;
    line-height: 40px;
}

p{
    text-align: center;
    font-family: 'Open Sans', sans-serif;
    color: #C2C2C2;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 28px;

}

span{color: #00BFA6;}



strong{

font-weight: 700;

}

p span{

  
    font-family: Open Sans;
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    line-height: 28px;

}

.line{

width: 568px;
height: 0;
border: 1px solid #00BFA6;;
margin: 0 auto;
margin-bottom: 27px;
}

footer{

    margin-top: 88px;   
    color: #FFF;
    text-align: center;
    font-family: JetBrains Mono;
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    line-height: 28px;
}

.imagem_footer{

    position: fixed;
    left: 20px;
    bottom: 20px;

}


