

/* #app{

 display:grid; 
grid-template-columns: repeat(3,1fr);
grid-template-rows: repeat(3,1fr);
height: 100vh;
border: 2px solid red

}


#app header{
grid-column-start: 1;
grid-column-end: 4;
}

#app main{
    grid-column: 1/3;
    }

    #app footer{
        grid-column: 1/4;
        }




span{

border: 1px solid black;

}


#app > *{

border: 1px solid red;

} */




/* #app{



ROW


display:grid; 
grid-template-columns: repeat(3,1fr);
grid-template-rows: repeat(3,1fr);
height: 100vh;
border: 2px solid red

}


#app header{
grid-row-start: 1;
grid-row-end: 4;
}

#app main{
    grid-column: 2/4;
    grid-row: 1/3;
    
    }

   






#app > *{

border: 1px solid red;

}
 */

body{

margin: 0;


}

 #app{


    display:grid; 

   grid-template:
   "A B B" 80px 
   "A B B" 40px
   "A C D" 50px / 80px 1fr 2fr;

    height: 100vh;

    gap: 30px;
    padding: 30px;
    
    }
    
    #app > *{
    
        border: 1px solid red;
        
        }
        
    #app header{
    
grid-area: A;

    }
    
    #app main{
       
grid-area: B;

        }
    
       
    
    
        #app footer{
       
            grid-area: C;
            
                    }
    
    
    
 
    
    





/* Propiedades fundamentales 


container (pai): conten os documentos 


grid-template:colums






*/